<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1 style="text-align: center; text-decoration: underline;color: #000;"><b>Pshop</b></h1>
                        <h1 style="text-align: center;">SignUp</h1>
                        <h5 style="text-align: center;">Register Yourself!!</h5>
                    </div>
                    <form style="align-items: center;">
                        <form style="align-items: center;">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"> Name</label><br>
                                <input type="text" class="form-control" id="exampleInputPassword1" style="width: 220px;">
                           </div>
                           <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number</label><br>
                            <input type="number" class="form-control" id="exampleInputPassword1" style="width: 220px;">
                       </div>
                            <div class="mb-3" style="align-items: center;">
                                 <label for="exampleInputEmail1" class="form-label" style="text-align: center;">Email</label><br>
                                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 220px;">
                                
                            </div>
                            <div class="mb-3">
                                 <label for="exampleInputPassword1" class="form-label">Password</label><br>
                                 <input type="password" class="form-control" id="exampleInputPassword1" style="width: 220px;">
                            </div> <br>
    
    
                            <a mat-button routerLink="/home" style="background-color: black; color: white;">SignUp</a>
                          </form>
                    </form>
                    <a routerLink="/login" style="color: black;margin-top: 10px;">Already Registered ? Click here to login</a>
                    
                    
                    
                </div>
            </div>
        </div>
    </div> 
</body>
</html>
